@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
:root {
--primary-color: #52489c;
--secondary-color: #59c3c3;
--accent-color: #f45b69;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: Mooli, san-serif;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
    background-color: rgb(199, 199, 195);
    margin: 0px;
}
a:link,
a:visited {
    color: var(--text-light);
}
header,footer,#menu-button {
    background-color: var(--primary-color);
    text-align: center;
    color: var(--text-light);
}
h2 {
    font-size: 1em;
    text-align: center;
}
footer{
    text-align: left;
}
img {
    max-width: 100%; /* Keep the image smaller */
    height: 250px;
    width: 250px;
    border: 8px solid #ebebeb;
    box-shadow: 7px 7px 7px #333;
    object-fit: cover;
}
#menu-button{
    border: 0px solid white;
    font-size: 1.2em;
}
.menu {
    display: flex;
    justify-content: space-around; 
    flex-direction: column; 
  }
nav a {
    display: block;
}
/* Hide items by default */
.menu-items {
    display: none; 
}
.hide {
    display: none;
}
/* Mobile - layout */
.gallery {
    display: flex; 
    align-items: center; /* Align items side-by-side */
    display: grid; 
    text-align: center;
    justify-content: center;

  }
  .viewer{
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.75);
  }
/* Tablet - layout */
  @media only screen and (min-width: 700px) {
    .gallery{
      /* grid-template-columns: 40% 40%; */
      grid-column-gap: 5%;
      grid-row-gap: 10px;
      text-align: center;
      grid-template-columns: 1fr 1fr;
      
      }
  }
/* Desktop - layout */
  @media only screen and (min-width: 1000px) {
    .gallery {
      /* grid-template-columns: 25% 25% 25%; */
      grid-row-gap: 10px;
      text-align: center;
      grid-template-columns: 1fr 1fr 1fr;
      /* max-width: 1100px; */

    }
    .menu{
      flex-direction: row; 
    }
    #menu-button {
      display: none;
    }
  }

  

