/**
 <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900
*/

.roboto-<uniquifier> {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

header, main, footer{
    width: 640px;
    margin: 1rem auto;
  border: 1px;
  padding: 10px;
  background-color: darkslateblue;
}
.section {
background-color: white;
padding: 20px;
}
@media screen and (min-width: 500px)