
body { 
    font-family: "Times New Roman";
    font-size: 20px;
    text-align: left;
}

.dark {

    background-color: #333;
    color: #f1f1f1;
}
li {
    padding: 10px;
}
h2 {
    color: #006EB6;
    margin-bottom: -10px;
    font-size: 17px;
    font-weight: normal;
}
.dark h2 {
    /* color: #1a99f2; */
    color: #A0D4ED;
    }
.center {
    text-align: center;
    letter-spacing: .1rem;
    text-transform: uppercase;
    display: block;
    margin-left: auto;
    margin-right: auto;
} 
main {
    line-height:25px;
}
#how {
    font-style: oblique;
}
body {
    max-width: 600px;
    border: 1px solid rgb(150, 150, 150) ;
    margin: 10px auto 10px auto;
    padding: 60px 120px 30px 120px
}
footer {
    margin-top:  40px;
    margin-bottom: 10px;
}
#logo {
    width: 150px;
    margin-bottom: 20px;
    height: auto; 
}



 /*background-color: #121212;*/